html {
  /* remove microsoft phone 300ms click delay */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
}

.card>h3 {
  /*background-color: #d9edf7;*/
  background-color: #f7f7f7;
  color: #777;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin:auto;
}

.slots {
  margin-bottom: 10px;
}
.slots>p {
  text-align: center;
}
.slots input[type="checkbox"] {
  display:inline-block;
}

.spell-area {
  border-top: 0 !important;
  margin-top: 10px !important;
}

.spell-selector button {
  border-radius: 4px !important;
}

.circle {
  padding:10px;
}
.circle>h4 {
  background-color: #f7f7f7;
  color: #777;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin:auto; 
  margin-right: 0;
}

.bg-success {
  background-color: #dff0d8 !important;
  color: #3c763d !important;
}

.shield {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: #337ab7 !important;
  color: #d9edf7 !important;
}

.card-description {
  line-height: 60px;
  height: 60px;
  text-align: left;
}

.trained {
  color: #31708f !important;
  background-color: #d9edf7 !important;
}

.bonus {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin: auto;
  color: #777;
  background-color: #f7f7f7;

  transition: all 300ms;
}

/* For some reason, React-Bootstrap doesn't do the modal backdrop? */
.modal-backdrop.in {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top:0;
  left:0;
}

.no-border {
  border: none !important;
}
