html {
  /* remove microsoft phone 300ms click delay */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#content {
  background-color: #fff;
}

.nav>li>a {
  padding: 10px 13px;
}

.chkbox-lg {
  width: 25px;
  height: 25px;
}

.card {
  margin-bottom: 20px;
  text-align:center;
  /*padding: 10px;*/
}

.card>h3 {
  /*background-color: #d9edf7;*/
  background-color: #f7f7f7;
  color: #777;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin:auto;
  font-size: 22px;
}

.progress {
  height: 50px;
}
.progress-bar {
  line-height: 50px;
}

.slots {
  margin-bottom: 10px;
}
.slots>p {
  text-align: center;
}
.slots input[type="checkbox"] {
  display:inline-block;
}

.no-padding>.panel-heading {
  background-color: transparent;
}
.no-padding.panel {
  border-color: transparent;
  border-radius:0;
  box-shadow:none;
}
.no-padding>.panel-collapse>.panel-body {
  padding:0;
  padding-top:10px;
}

.spell-area {
  border-top: 0 !important;
  margin-top: 10px !important;
}

.spell-selector button {
  border-radius: 4px !important;
}

.circle {
  padding:10px;
}
.circle>h4 {
  background-color: #f7f7f7;
  color: #777;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin:auto; 
  margin-right: 0;
}

.bg-success {
  background-color: #dff0d8 !important;
  color: #3c763d !important;
}

.shield {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background-color: #337ab7 !important;
  color: #d9edf7 !important;
}

.card-description {
  line-height: 60px;
  height: 60px;
  text-align: left;
}

.trained {
  color: #31708f !important;
  background-color: #d9edf7 !important;
}

.bonus-container {
  margin: auto;
}
.bonus-container:after {
  content: " ";
  clear:both;
  display: table;
}

.bonus {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin: 10px 10px 10px 25px;
  color: #777;
  background-color: #f7f7f7;
  transition: all 300ms;
  float:right;
}
.bonus-desc {
  padding-top: 15px;
  font-weight: bold;
}

/* For some reason, React-Bootstrap doesn't do the modal backdrop? */
.modal {
  z-index: 1337;
  background-color: rgba(0, 0, 0, 0.55);
}
.modal-backdrop.in {
  height: 100%;
  top:0;
}

.no-border {
  border: none !important;
}

.edit-btn {
  padding-bottom: 5px;
  color: #8a6d3b;
}

.no-margin {
  margin: auto !important;
}

.no-padding {
  padding: 0 !important;
}

/* 
* Main CSS for settings-tearing
*/
.settings-tear {
  border: 0 !important;
  box-shadow: none !important;
  margin: auto -15px;
  padding:0 15px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(220, 220, 220, 1);

  /* Taken from https://medium.com/coding-design/saw-tooth-banners-with-css-95c31e91c196 */
  background-image:
    /* Top jagged */
    linear-gradient(
      135deg,
      rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
    ),
    linear-gradient(
      -135deg,
      rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
    ),
    /* Bottom jagged */
    linear-gradient(
      45deg,
      rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
    ),
    linear-gradient(
      -45deg,
      rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%
    );

  background-position:
    /* Top jagged */
    top center, top center,
    /* Bottom jagged */
    bottom center, bottom center;
  background-size:
    /* Top + bottom jagged */
    2em 2em, 2em 2em,
    2em 2em, 2em 2em;
  background-repeat: repeat-x;
}

.settings-tear>.panel-collapse>.panel-body {
  padding-top:50px;
  padding-bottom:50px;
  padding-left: 0;
  padding-right:0;
}

.inverse {
  background-color: #333333;
  color: #ddd;
}

.inverse h3 {
  border-bottom: 2px solid #ddd;
}

/***************************************** HATCH *****************************/
.hatch-group-container {
  overflow: hidden;
}
.hatch-entryway {
  position:absolute;
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hatch-cover {
  position:relative;
  background-color: white;
  padding: 12px;
  width: 100%;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}