html {
  /* remove microsoft phone 300ms click delay */
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
}

.card>h3 {
  /*background-color: #d9edf7;*/
  background-color: #f7f7f7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin:auto;
}

.BOOM {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  margin: auto;
  background-color: #d9edf7;
}